.login-container {
    background-size: fix;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-card {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    transition: background-color 0.5s ease;
}

.login-card:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.login-card h2 {
    margin-bottom: 20px;
}

.login-card input {
    display: block;
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.login-card button {
    width: 98%;
    padding: 12px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-card button:hover {
    background-color: #e84118;
}
